/*------ALL------*/
* {
	font-family: 'Lobster', cursive;
}

/*------HEADER------*/
header {
	background: linear-gradient(green, white);
}
header>h1 {
	color: lightblue;
	font-size: 2.25em;
}
header>h2 {
	font-size: 1.5em;
}

/*------TIMER, STAR RATING AND MOVE COUNTER------*/
.controllers {
	margin-top: 16px;
	margin-bottom: 16px;
}
article>h3 {
	font-size: 1.25em;
}

/*------GAME------*/
#game-arena {
	border: 6px solid #79bd9a;
	background-color: #0b486b;
}

/*------CARD------*/
.card-clicked {
	font-size: 5em;
	transform: skewX(4deg);
	transform: skewY(4deg);
	background-color: #cff09e;
	transition: all 1s ease;
}
.card-match {
	font-size: 5em;
	color: black;
	border-color: #cff09e;
	background: radial-gradient(white 40%, #556921);
	transition: all 2s ease;
}

/*------FOOTER------*/
footer {
	margin-top: 30px;
	border-top: 3px solid gray;
	padding-top: 10px;
	color: green;
}

/*------CHANCES (INSIDE THE MODAL) ------*/
.chances {
	color: blue;
	border-bottom: 2px solid gray;
	margin-top: 10px;
}