/*
	Project.
*/

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
	font-family: cursive, serif;
	background-color: rgb(76, 4, 51);
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

/*
	Header.
*/

.header {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 8px;
	display: block;
	background: linear-gradient(45deg, deeppink, #166616);
}

.header__project-name {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
	color: lightblue;
	font-size: 3rem;
	font-weight: 100;
	text-align: center;
}

/*
	Indicators: Timer, Star rating, Move counter.
*/

.indicators {
	box-sizing: border-box;
	margin: 0px;
	border: none;
	padding: 48px 8px 48px 8px;
	display: flex;
	justify-content: space-around;
}

.indicators__timer,
.indicators__star-rating,
.indicators__move-counter {
	box-sizing: border-box;
	margin: auto;
	border: 40px solid transparent;
	border-radius: 4px;
	padding: 12px;
	width: 33.33%;
	background: linear-gradient(45deg, deeppink, #166616);
}

.indicators__timer__title,
.indicators__star-rating__title,
.indicators__move-counter__title {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
	color: lightblue;
	font-size: 2rem;
	font-weight: 100;
	text-align: center;
}

.indicators__timer__timer,
.indicators__move-counter__move-counter {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
	color: lightblue;
	font-size: 1.75rem;
	font-weight: 100;
	text-align: center;
	letter-spacing: 2px;
}

.indicators__star-rating__star-rating--with-stars {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
	color: lightblue;
	font-size: 4rem;
	font-weight: 100;
	text-align: center;
	line-height: 80px;
	letter-spacing: 2px;
}

.indicators__star-rating__star-rating--without-stars {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: block;
	color: lightblue;
	font-size: 1.75rem;
	font-weight: 100;
	text-align: center;
	line-height: 80px;
	letter-spacing: 2px;
}

@media screen and (max-width: 599px) {
	.indicators {
		display: flex;
		flex-direction: column;
	}

	.indicators__timer,
	.indicators__star-rating,
	.indicators__move-counter {
		width: 100%;
	}

	.indicators__star-rating {
		margin: 16px 0px 16px 0px;
	}
}

/*
	Game.
*/

.game {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 8px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.game__card {
	box-sizing: border-box;
	margin: 8px;
	border: 0px;
	border-radius: 8px;
	padding: 0px;
	min-width: 200px;
	max-width: 260px;
	min-height: 160px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: greenyellow;
	font-size: 2.5rem;
	cursor: pointer;
	background-color: deeppink;
	transition: all 0.5s ease;
}

.game__card:hover {
	box-shadow: inset 0px 0px 32px 12px white;
	transition: all 0.5s ease;
}

.game__card--clicked {
	color: rgb(76, 4, 51);
	font-size: 5em;
	transform: skewX(4deg);
	transform: skewY(4deg);
	cursor: default;
	background: radial-gradient(white, lightgreen);
	transition: all 0.5s ease;
}

.game__card--clicked:hover {
	box-shadow: none;
}

.game__card--matched {
	color: white;
	font-size: 6rem;
	cursor: default;
	background: transparent;
	transition: all 0.5s ease;
}

.game__card--matched:hover {
	box-shadow: none;
}

/*
	Button to restart the game.
*/

.restart-the-game {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 32px 0px 32px 0px;
	display: flex;
	justify-content: center;
}

.restart-the-game__button {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	border-radius: 4px;
	padding: 20px;
	color: darkmagenta;
	font-size: 2rem;
	text-align: center;
	cursor: pointer;
	background-color: burlywood;
	transition: all ease-in-out 0.5s;
}

.restart-the-game__button:hover {
	box-shadow: inset 0px 0px 24px 2px darkmagenta;
	transition: all ease-in-out 0.5s;
}

/*
	Footer.
*/

.footer {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 8px 0px 8px 0px;
	display: block;
	color: lightblue;
	letter-spacing: 2px;
}

.footer__title {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 4px;
	display: block;
	font-size: 1.5rem;
	font-weight: 100;
	text-align: center;
}

.footer__body {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 4px;
	display: block;
	font-size: 1.3rem;
	font-weight: 100;
	text-align: center;
}

/*
	Modal game over.
*/
.game-over__attempt {
	box-sizing: border-box;
	margin: 4px 12px 4px 12px;
	border: 0px;
	border-radius: 12px;
	padding: 0px;
	display: block;
	box-shadow: inset 0px 0px 32px #808000;
}

.game-over__attempt__title {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 20px 12px 4px 12px;
	color: #808000;
	font-size: 1.75rem;
	font-weight: 100;
}

.game-over__attempt__spent-time {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 4px 12px 4px 12px;
	color: gray;
	font-size: 1.25rem;
	font-weight: 100;
}

.game-over__attempt__message {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 4px 12px 20px 12px;
	color: gray;
	font-size: 1.25rem;
	font-weight: 100;
}

.game-over__attempt__star-rating {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 4px 12px 4px 12px;
	color: #808000;
	font-size: 1.5rem;
	text-align: center;
}

/*
	Scroll bar.
*/

::-webkit-scrollbar {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	width: 12px;
	background-color: white;
}

::-webkit-scrollbar-track {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.5);
}

/*
	Modal.
*/

.modal {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: rgba(0, 0, 0, 0.85);
}

.modal--opennig {
	animation: fadeinout__modal--opennig 0.5s linear forwards;
	-webkit-animation: fadeinout__modal--opennig 0.5s linear forwards;
}

.modal--closing {
	animation: fadeinout__modal--closing 0.5s linear forwards;
	-webkit-animation: fadeinout__modal--closing 0.5s linear forwards;
}

.modal--closed {
	display: none;
}

@keyframes fadeinout__modal--opennig {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeinout__modal--opennig {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeinout__modal--closing {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes fadeinout__modal--closing {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.modal__content {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	border-radius: 8px;
	padding: 0px;
	max-height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
}

.modal__content__title {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 20px 12px 8px 12px;
	font-size: 2rem;
	font-weight: 100;
	text-align: center;
}

.modal__content__body {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 8px 12px 8px 12px;
	font-size: 1.25rem;
	font-weight: 100;
	text-indent: 40px;
}

.modal__content__action {
	box-sizing: border-box;
	margin: 0px;
	border: 0px;
	padding: 8px 12px 20px 12px;
	display: flex;
	justify-content: flex-end;
}

.modal__content__action__button--start-the-game {
	box-sizing: border-box;
	border: 0px;
	border-radius: 12px;
	padding: 20px;
	color: white;
	font-size: 1.75rem;
	cursor: pointer;
	background-color: #163616;
	box-shadow: 5px 5px 5px #000;
	transition: background-color ease-in-out 0.5s;
}

.modal__content__action__button--start-the-game:focus {
	outline: 0px;
}

.modal__content__action__button--start-the-game:hover {
	background-color: #166616;
	transition: all ease-in-out 0.5s;
}

.modal__content__action__button--close {
	box-sizing: border-box;
	margin: 8px;
	border: 0px;
	border-radius: 8px;
	padding: 20px;
	color: white;
	font-size: 1.75rem;
	letter-spacing: 2px;
	cursor: pointer;
	background-color: rgb(165, 35, 6);
	transition: background-color ease-in-out 0.5s;
}

.modal__content__action__button--close:focus {
	outline: 0px;
}

.modal__content__action__button--close:hover {
	background-color: rgb(196, 53, 21);
	transition: all ease-in-out 0.5s;
}

.modal__content__action__button--play-again {
	box-sizing: border-box;
	margin: 8px;
	border: 0px;
	border-radius: 8px;
	padding: 20px;
	color: white;
	font-size: 1.75rem;
	letter-spacing: 2px;
	cursor: pointer;
	background-color: rgb(3, 109, 12);
	transition: background-color ease-in-out 0.5s;
}

.modal__content__action__button--play-again:focus {
	outline: 0px;
}

.modal__content__action__button--play-again:hover {
	background-color: rgb(3, 165, 16);
	transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 599px) {
	.modal__content {
		width: 96vw;
	}
}

@media screen and (min-width: 600px) and (max-width: 959px) {
	.modal__content {
		width: 80vw;
	}
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
	.modal__content {
		width: 64vw;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
	.modal__content {
		width: 48vw;
	}
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
	.modal__content {
		width: 48vw;
	}
}
